


<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Email Sent Successfully</h1><br />
        <img src="~/images/random/thankyou.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Thank you for your email! <br />
        We have received your email and we will be in touch soon!
        <br />
        <br />
        <a asp-area="Customer" asp-controller="Home" asp-action="Index"  class="btn btn-primary ">Back To Store</a>
    </div>
</div>
